/*
 * SPDX-FileCopyrightText: syuilo and other misskey, cherrypick contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard JP Regular'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff2/PretendardJP-Regular.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff/PretendardJP-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard JP';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard JP Bold'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff2/PretendardJP-Bold.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff/PretendardJP-Bold.woff') format('woff');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
	url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Bold"), local("JetBrainsMono-Bold"),
	url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
	font-display: swap;
}

* {
	font-family: "JetBrains Mono", "Pretendard JP", Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

html {
	background: #202020;
}

header {
	color: #fff;
}

main {
	background: #262626;
	color: #fff;
}

#tl > div {
	padding: 16px;
	border-bottom: solid 1px #3e3e3e;
}
#tl > div > header {
	font-weight: bold;
}
