/*
 * SPDX-FileCopyrightText: syuilo and other misskey, cherrypick contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard JP Regular'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff2/PretendardJP-Regular.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff/PretendardJP-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard JP';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard JP Bold'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff2/PretendardJP-Bold.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard-jp/dist/web/static/woff/PretendardJP-Bold.woff') format('woff');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
	url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Bold"), local("JetBrainsMono-Bold"),
	url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
	font-display: swap;
}

* {
    font-family: "Pretendard JP", "JetBrains Mono", BIZ UDGothic, Roboto, HelveticaNeue, Arial, sans-serif;
}

#cherrypick_app,
#splash {
    display: none !important;
}

body,
html {
    background-color: #222;
    color: #dfddcc;
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: center;
}

button {
    border-radius: 999px;
    padding: 0px 12px 0px 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
}

.button-big {
    background: linear-gradient(90deg, rgb(134, 179, 0), rgb(74, 179, 0));
    line-height: 50px;
}

.button-big:hover {
    background: rgb(153, 204, 0);
}

.button-small {
    background: #444;
    line-height: 40px;
}

.button-small:hover {
    background: #555;
}

.button-label-big {
    color: #222;
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
}

.button-label-small {
    color: rgb(153, 204, 0);
    font-size: 16px;
    padding: 12px;
}

a {
    color: rgb(134, 179, 0);
    text-decoration: none;
}

p,
li {
    font-size: 16px;
}

.dont-worry,
#msg {
    font-size: 18px;
}

.icon-warning {
    color: #dec340;
    height: 4rem;
    padding-top: 2rem;
}

h1 {
    font-size: 32px;
}

code {
    display: block;
    font-family: "JetBrains Mono", "Pretendard JP", Pretendard, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background: #333;
    padding: 0.5rem 1rem;
    max-width: 40rem;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    white-space: pre-wrap;
    word-break: break-word;
}

summary {
    cursor: pointer;
}

summary > * {
    display: inline;
    white-space: pre-wrap;
}

@media screen and (max-width: 500px) {
    details {
        width: 50%;
    }
}
